:root{
	--mainColor:#262626;
	--secondaryColor:#1a1a1a;

	--borderColor:#a6a6a6;

	--mainText:#ffffff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#ffffff;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#1a1a1a;


}